/example_testing/*
/example_testing.zip/*
test_reservation.js
styles.css
reservation_slot.js
example_testing.zip
examen DWEC.zip
TablaExamen.html
Examen DWEC.docx
__MACOSX/project-html-website-master/img/._tweetThis.svg
__MACOSX/project-html-website-master/img/._successCloudNew.svg
__MACOSX/project-html-website-master/img/._stackWhite.svg
__MACOSX/project-html-website-master/img/._lightbulbWhite.svg
__MACOSX/project-html-website-master/img/._deployWhite.svg
__MACOSX/project-html-website-master/img/._cloneWhite.svg
__MACOSX/project-html-website-master/fonts/._segoeuil.ttf
__MACOSX/project-html-website-master/css/._site.css
__MACOSX/project-html-website-master/._README.md
__MACOSX/project-html-website-master/._index.html
__MACOSX/project-html-website-master/._img
__MACOSX/project-html-website-master/._fonts
__MACOSX/project-html-website-master/._css
__MACOSX/project-html-website-master/._LICENSE
